@import "../../fonts/Montserrat/Montserrat";
@import "../../fonts/NanumSquareNeo/NanumSquareNeo";
@import "../../fonts/GmarketSans/GmarketSans";

.mont {
    font-family: "Montserrat";
}

.nanum {
    font-family: "NanumSquareNeo";
}

.gmarket {
    font-family: "GmarketSans";
}